@import url("https://font.googleleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

body{
    min-height: 100vh;
    /* background: url('wp5716421-srt-dodge-wallpapers.jpg') no-repeat; */
    background-color: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:black;
    backdrop-filter: blur(50px);
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,rgba(9, 154, 33, 0.781),transparent);
    transition: 0.5s ;
}
header:hover::after {
    left: 100%;
}
 .logoimg{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    
}
 .logodiv{
    color: #fff;
}


.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

#check{
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

      /* BRAKEPOINTS */

 @media(max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
 } 
 
 @media(max-width:768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu.icon{
        display: none;
    }

    .icons #close-icon{
        display: none;

    }
    #check:checked~.icons #close.icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background:rgba(0,0,0,0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        overflow: hidden;
        transition: 0.3s ease;
        
    }
    #check:checked~.navbar{
        height: 17.7rem;
        
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        
        
    }
 }


/* 
 !!!!!!!!!!!!!!!!!!!! main is here !!!!!!!!!!!!!!!!!! */

   *{
    margin: 0;
    padding: 0;
}
.section1-container {
    padding: 50px 120px;
    box-sizing: border-box;
}
h2{
    margin-left: 400px;
    margin-bottom: 50px;
    font-size: 50px;

}
.flex-container{
    display: flex;
    gap:50px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;

}
.text-container1{
    position: absolute;
    margin-left: 60px;
    top: 180px;
    font-size: 40px;
    color: rgb(64, 69, 69);
    text-shadow: 2px 2px 5px;

}
.text-container2{
    position: absolute;
    margin-left: 60px;
    top: 635px;
    font-size: 40px;
    color: rgb(64, 69, 69);
    text-shadow: 2px 2px 5px;

}

.flex-box img{
    height: 400px;
    width: 700px;
    border-radius: 20px;
    /* margin-bottom: 50px; */
    box-shadow:10px 10px 10px rgb(84, 81, 81);
    
}

.section2-container{
    height: 300vh;
    width: 100vw;
    padding: 90px;
}

.row{
    display: flex;
    gap: 50px;
}

.car-container{
    height: 480px;
    width: 27.5vw;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(95, 91, 91);
    margin-bottom: 40px;
}

.image-container{
    height: 290px;
    width: 25vw;
}

.image-container img{
    height: 290px;
    width: 25vw;
}

.details-container{
    display: flex;
    /* border: 1px solid black; */
    box-sizing: border-box;
    height: 150px;
}

.details-container img{
    height: 25px;
    width: 25px;
}

.left-container{
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
    line-height: 30px;
    padding: 15px;
    box-sizing: border-box;
}

.right-container{
    box-sizing: border-box;
    line-height: 30px;
    padding: 15px;
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
}

.delivery-available-container{
    display: flex;
    gap: 7px;
}

.km-away-container{
    display: flex;
    gap: 7px;
}

.stars-container{
    background-color: green;
    border-radius: 5px;
    display: flex;
    gap: 7px;
    width: 120px;
    justify-content: center;
    color: white;
}

