body {
  font-family: 'Segoe UI', sans-serif;
  background: #1c5691;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  text-align: center;
  background:rgba(225,225,225,0.5);
  padding: 30px 40px;
  border: 10px double ;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  margin: 15px 0;
  color: #07a217df;
  border: 1px solid rgb(12, 127, 147);
}

button {
  padding: 10px 20px;
  background-color:red;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color:green;
  color: blanchedalmond;
}

.timer {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}