*{
  padding: 0px;
  margin: 0px;
  font-family: Poppins,sans-serif;
}
.navbar label{
  display: none;
}

.menu-icon,#check{
  display: none;
}



header .navbar{
  background-color:black;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 30px;
}

header .navbar nav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  line-height: 50px;
}

header .navbar nav ul li{
  list-style-type: none;
}

header .navbar nav ul li a{
  text-decoration: none;
  color:white;
  font-weight: 540;
}


.logo-container{
  height: 55px;
  width: 850px;
}

#logo{
  height: 55px;
  padding: px 40px;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px rgb(219, 217, 217);
  border-radius: 10px;
}
#search{
  margin-left: 100px;
  padding: 7px;
  width: 400px;
  border-radius: 20px;

}

#click:checked~.navbar ul{
  display: block;
}
@media screen and (max-width:680px){
  .navbar nav label {
      display: block;
  }
  header .navbar nav ul {
      display: none;  
      position: absolute;
      top: 100px;
      background-color: red;

  }
  .navbar ul li {
      padding: 12px;
  }
} 

.cart-container{
  height: 44px;
}

#cart{
  height: 36px;
  
}

#menu-icon{
  display: none;
}

/* ------------ shoes heading ------------ */

.apple-container{
  height: 650px;
  width: 1300;
  background: linear-gradient(90deg,#9b0202 40%,#f8f9fa 60%);
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-between;
  color: white;
}

.shoes-title{
  height: 250px;
  width: 290px;
  padding: 200px 140px;
  line-height: 60px;
}

.shoes-title h1{
  font-size: 44px;
}

.shoes-title p{
   text-decoration: underline;
   font-weight: 500;
}
@media screen and (max-width:680px){
  
  
  main .apple-container h1 p {
      display: none;  
      position: absolute;
      top: 100px;
      background-color: red;

  }
  .apple-container h1 p img {
      padding: 12px;
  }
} 



/* ------------ featured products ------------ */

.featured-products{
  align-self: center;
  justify-self: center;
}

.featured-products h2{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.row{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.row img{
  flex-basis: 23%;
  height: 400px;
  width: 350px;
}

.fa-solid, .fa-star, .fa-regular{
  color: orange;
}

.row p{
  font-weight: 500;
  font-size: 14px;
}

/* ------------ footer ------------ */

footer{
  background: #da1313;
  color: #000000;
  font-size: 14px;
  padding: 60px 0px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-row{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer h3{
  color: #000000;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  margin-left: 80px;
  text-align: center;
}

.footer-col-2{
  text-align: center;
}


.footer-col-2 img{
  margin-left: 40px;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 20%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

footer hr{
  border: none;
  background: #555;
  height: 1px;
  margin: 20px 0px;
}

.copyright{
  text-align: center;
}

